{
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"proseWrap": "never",
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto"
}
